<!-- HOME CONTENT START -->
<section id="page-top-container">
    <div>
       <i class="fa-solid fa-hand-fist"></i>
    </div>
    <div>
        <h1>Vote</h1>
    </div>
</section>
<section id="login-tab" class="poll-container">
    {{#if messages}}
        <p class="messages">{{messages}}</p>
    {{else}}
        <p class="error-message">this is your opportunity submit your vote</p>
    {{/if}}
    <p class="question" id="question-container" data-pollid="{{poll._id}}">{{poll.question}}</p>
    <form>
        <fieldset class="poll-answers">
            <div>{{#unless hasVoted}}<input type="radio" name="vote" id="answerOne" value="answerOneCount" required />{{/unless}}<label for="answerOne">{{poll.answerOne}}</label><span id="answerOneCount" class="vote-count">{{poll.answerOneCount}}</span></div>
            <div>{{#unless hasVoted}}<input type="radio" name="vote" id="answerTwo" value="answerTwoCount" required />{{/unless}}<label for="answerTwo">{{poll.answerTwo}}</label><span id="answerTwoCount" class="vote-count">{{poll.answerTwoCount}}</span></div>
            {{#if poll.answerThree}}
            <div>{{#unless hasVoted}}<input type="radio" name="vote" id="answerThree" value="answerThreeCount" required />{{/unless}}<label for="answerThree">{{poll.answerThree}}</label><span id="answerThreeCount" class="vote-count">{{poll.answerThreeCount}}</span></div>
            {{/if}}
            {{#if poll.answerFour}}
            <div>{{#unless hasVoted}}<input type="radio" name="vote" id="answerFour" value="answerFourCount" required />{{/unless}}<label for="answerFour">{{poll.answerFour}}</label><span id="answerFourCount" class="vote-count">{{poll.answerFourCount}}</span></div>
            {{/if}}
        </fieldset>
        {{#unless hasVoted}}<button id="vote-btn">vote</button>{{/unless}}
    </form>
</section>
    <aside id="username-display">
      <p>poll by: {{user.username}}</p>
      <p id="poll-url">{{pollUrl}}<i class="fa-solid fa-scissors" onclick="copyLink()"></i></p>
    </aside>
<!-- HOME CONTENT END -->