<!-- HOME CONTENT START -->
<section id="page-top-container">
    <div>
       <i class="fa-solid fa-hand-fist"></i>
    </div>
    <div id="heading">
        {{#if hasVoted}}
        <h1>Results</h1>
        {{else}}
        <h1>Vote</h1>
        {{/if}}
    </div>
</section>
<section id="tab" class="poll-container">
    {{#if hasVoted}}
        <p class="messsages messages-voted">Your vote has already been counted!</p>
    {{else}}
        <p class="messages">this is your opportunity submit your vote</p>
    {{/if}}
    <p class="question" id="question-container" data-pollid="{{poll._id}}">{{poll.question}}</p>
    <form>
        <fieldset class="poll-answers">
            <div class="poll-option answerOneCount">
                <div class="poll-option-container">
                    {{#unless hasVoted}}
                        <input type="radio" name="vote" id="answerOne" value="answerOneCount" required />
                        <label for="answerOne"></label>
                    {{/unless}}
                    <span class="answer-label">{{poll.answerOne}}</span><span id="answerOneCount" class="vote-count">{{poll.answerOneCount}}</span>
                </div>
                <div class="percentage-bar answerOneCount" style="width:{{percent poll.answerOneCount poll.totalVotes}}"></div>
            </div>
            <div class="poll-option answerTwoCount">
                <div class="poll-option-container">
                    {{#unless hasVoted}}
                        <input type="radio" name="vote" id="answerTwo" value="answerTwoCount" required />
                        <label for="answerTwo"></label>
                    {{/unless}}
                    <span class="answer-label">{{poll.answerTwo}}</span><span id="answerTwoCount" class="vote-count">{{poll.answerTwoCount}}</span>
                </div>
                <div class="percentage-bar answerTwoCount" style="width:{{percent poll.answerTwoCount poll.totalVotes}}"></div>
            </div>
            {{#if poll.answerThree}}
            <div class="poll-option answerThreeCount">
                <div class="poll-option-container">
                    {{#unless hasVoted}}
                        <input type="radio" name="vote" id="answerThree" value="answerThreeCount" required />
                        <label for="answerThree"></label>
                    {{/unless}}
                    <span class="answer-label">{{poll.answerThree}}</span><span id="answerThreeCount" class="vote-count">{{poll.answerThreeCount}}</span>
                </div>
                <div class="percentage-bar answerThreeCount" style="width:{{percent poll.answerThreeCount poll.totalVotes}}"></div>
            </div>
            {{/if}}
            {{#if poll.answerFour}}
            <div class="poll-option answerFourCount">
                <div class="poll-option-container">
                    {{#unless hasVoted}}
                        <input type="radio" name="vote" id="answerFour" value="answerFourCount" required />
                        <label for="answerFour"></label>
                    {{/unless}}
                    <span class="answer-label">{{poll.answerFour}}</span><span id="answerFourCount" class="vote-count">{{poll.answerFourCount}}</span>
                </div>
                <div class="percentage-bar answerFourCount" style="width:{{percent poll.answerFourCount poll.totalVotes}}"></div>
            </div>
            {{/if}}
        </fieldset>
        {{#unless hasVoted}}<button id="vote-btn">vote</button>{{/unless}}
    </form>
</section>
    <aside id="username-display">
        {{#if poll}}
            <div id="username-display-inner">
                <p id="vote-total">Votes: {{poll.totalVotes}}</p>
                <p>Posted By: {{poll.username}}</p>
                <p id="poll-url" onclick="copyLink('{{pollUrl}}')">TAP HERE TO COPY LINK CLIPBOARD</p>
            </div>
        {{/if}}
    </aside>
<!-- HOME CONTENT END -->